@font-face {
  font-family: "caribe";
  src: url("../font/Caribbean.ttf.ttf");
}

body {
  background-image: url("../img/fundo-pergaminho-pirata.png");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

h1 {
  color: #000000;
  font-family: "caribe";
  font-size: 36px;
}

.invisivel {
}

a {
  text-decoration: none; /* Remove sublinhado padrão do link */
}
